{% extends "layout.html" %}

{% block title %}
        Send Money
{% endblock %}

{% block main %}
    <form action="/send" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="senduser" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="sendvalue" placeholder="value" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
{% endblock %}